

h1 {
  color: #004d99;
  font-family: 'Arial', sans-serif;
  font-size: 25px;
  font-weight: 300;
  margin: 10px;
  text-align: center;
}

.cliquez {
   font-weight: 300;
}

h2 {
  color: #004d99;
  font-family: 'Arial', sans-serif;
  font-weight: 100;
  margin: 6px;
  text-align: left;
}

p,
.conclusion {
  color: #004d99;
  font-family: 'Arial', sans-serif;
  font-size: 18px;
  font-weight: 200;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  border: 3px solid #000000;
}

.coder,
.chercher,
.creer,
.utile {
  text-align: center;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  color: #ffffff;
  background-color: #0000ff;
  font-family: 'Arial', sans-serif;
  font-size: 20px;
  font-weight: 600;
  border-radius: 10px;
  display: inline-block;
  box-sizing: border-box;
  padding: 8px;
  text-align: center;
  text-transform: lowercase;
  text-decoration: none;
  float: left;
  cursor: pointer;
  position: relative;
}

.coder,
.chercher,
.creer, 
.utile:active{ 
 top: 8px;
}


.pedagogie,
.contenu,
.mission,
.duree {
  text-align: center;  
  color: #ffffff;
  background-color: #e60000;
  font-family: 'Arial', sans-serif;
  font-size: 20px;
  font-weight: 600;
  border-radius: 10px;
  display: inline-block;
  box-sizing: border-box;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  padding: 8px;
  text-align: center;
  text-transform: lowercase;
  text-decoration: none;
  float: left;
  cursor: pointer;
}

 .pedagogie,
.contenu,
.mission,
.duree:active{ 
 top: 8px;
}

.perseverante,
.debrouillarde,
.curieuse,
.rigoureuse {
  text-align: center; 
  color: #ffffff;
  background-color: #73e600;
  font-family: 'Arial', sans-serif;
  font-size: 20px;
  font-weight: 600;
  border-radius: 10px;
  display: inline-block;
  box-sizing: border-box;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  padding: 8px;
  text-align: center;
  text-transform: lowercase;
  text-decoration: none;
  float: left;
  cursor: pointer;
}

.perseverante,
.debrouillarde,
.curieuse,
.rigoureuse:active{ 
 top: 8px;
}

img {
    display: block;
}

ul {
  list-style: none;
  padding: 0;
}

.coder_raisons,
.chercher_raisons,
.creer_raisons,
.utile_raisons,
.pedagogie_raisons,
.contenu_raisons,
.mission_raisons,
.duree_raisons,
.perseverante_raisons,
.debrouillarde_raisons,
.curieuse_raisons,
.rigoureuse_raisons {
margin: 0.5em 0;
font-family: 'Arial', sans-serif;
font-weight: 400;
color: #004d99;
}

.boutons { 
  color: #000000
}

.active_dev {
  background-color: #33ccff;
  color: #ffffff;
}

.active_simplon {
  background-color: #ff6600;
  color: #ffffff;
}

.active_qualites {
  background-color: #2eb82e ;
  color: #ffffff;
}


