

h1 {
  color: #004d99;
  font-family: 'Arial', sans-serif;
  font-size: 25px;
  font-weight: 400;
  margin: 10px;
  text-align: center;
}

p {
  color: #004d99;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  font-weight: 100;
  margin: 0;
  text-align: center;
}

.coder,
.chercher,
.creer,
.utile {
  text-align: center;
  margin-top: 10px;  
  color: #ffffff;
  background-color: #0000ff;
  font-family: 'Arial', sans-serif;
  font-size: 20px;
  font-weight: 600;
  border-radius: 10px;
  display: inline-block;
  box-sizing: border-box;
  margin: 6px;
  padding: 8px;
  text-align: center;
  text-transform: lowercase;
  text-decoration: none;
  float: left;
}

ul {
  list-style: none;
  padding: 0;
}

.coder_raisons,
.chercher_raisons,
.creer_raisons,
.utile_raisons {
margin: 0.5em 0;
font-family: 'Arial', sans-serif;
font-weight: 600;
color: #004d99;
  
}

.active {
  background-color: #33ccff;
  color: #ffffff;
}
